.detail_wrapper {
    position: fixed;
    inset: 0;
    background-color: rgba(194, 187, 187, 0.486);
}

.icon_exits {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 30px;
    cursor: pointer;
}