.form-wrapper {
    width: 560px;

}

.message-header {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;

    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.checkbox {
    margin-top: 16px;
    margin: 16px 0 0;
    padding: 0 8px;

    label {
        margin-left: 6px;
    }
}

.btn {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    font-size: 16px;
    padding: 7px 40px;
    display: flex;
    align-items: center;
    margin: 30px auto;

    &:hover {
        color: white;
        background-color: #0d4eaf;
    }
}