.info_item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4px;
}

.info_item img {
    margin-right: 30px;
}
.info_item div {
    flex: 1;
}
.info_item +.info_item {
    margin-top: 30px;
}
.info_item div span {
    height: 40px;
    display: flex;
    align-items: center;
}
.info_item div input {
    margin-bottom: 15px;
    font-size: 18px;
    width: 100%;
    padding: 0 18px;
    border: 1px solid transparent;
    height: 40px;
}
.info_item div input:hover {
    border: 1px solid #ccc
}
.info_item div input:focus {
    border: 1px solid #888;
}
.info_item div span {
    color: red;
}
.blur {
    background-color: rgb(199, 196, 194);
}